* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background: #F7F6FB !important;*/
	max-width: 100%;
	overflow-x: hidden;
}

.container,
.container-fluid {
	margin-top: 20px !important;
}

.webcam-wrapper {
	margin-top: 20px;
	background: pink;
}

.active-camera {
	cursor: pointer;
	margin: 15px 0;
}